* {
    margin: 0;
        padding: 0;
    
    }
    
    header {
        height: 100px;
        background-color: rgb(65, 29, 29);
        width: 100%;
        position: fixed;
        z-index: 12;
    }
    
    
    
    
    .logo {
        font-family: 'Segoe UI';
        font-size: 25px;
        font-weight: bold;
        padding: 50px;
        margin-left: 50px;
    }
     .logo a{
        color: blueviolet;
        text-decoration: underline;
     }
    
     .logo a :hover{
        color:#918391
     }
    
     .nav_bar {
         font-family:'Times New Roman';
         font-size: 20px;
         float: right;
         list-style: None;
        
     }
    
     .nav_bar li {
        display: inline-block
     }
     .nav_bar li a {
        padding: 15px;
     }
    
     .nav_bar li a:hover {
    background: #2e232e;
    color: blueviolet;
    border: 1px solid violet;
    border-radius: 5px;
    border-width: auto;
     }

     body {
        background: url('./bbb.jpg') no-repeat;
        background-size: cover;
        
font: 20px sans-serif;            

}
.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: rgb(43, 45, 46);
    padding: 10px;
  }
  .grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
  }
  
  